html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
	font-family: serif;
	text-align: justify;

	padding: 0 1em 1em 1em;
	margin: 0 auto;
	height: 100vh;
	max-width: min(50rem, 100vw);

	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header a { color: unset; }
